* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Helvetica, Arial, Verdana, Times;
    scroll-behavior: smooth;
}

body {
    color: white;
}

.container {
    background: linear-gradient(0.125turn, #380036, #0ea7a7);
    height: 600vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.nav-panel {
    background: linear-gradient(0.875turn, #380036, #0ea7a7);
    position: fixed;
    padding: 0px 5px;
    height: 5vh;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

li {
    display: grid;
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-size: calc(1rem + 0.3vw);
}

a {
    text-decoration: none;
    color: white;
}
 
.nav-panel ~ div {
    padding-top: 7vh;
    text-align: center;
}

h2 {
    font-size: calc(1.5rem + 1.5vw);
    color: white;
}

#overview, 
#mission {
    display: grid;
    grid-template-rows: 1fr 7fr;
    align-items: center;
    justify-items: center;
}

.overview-text,
.mission-text {
    width: clamp(50%, calc(1000px + 10vw) ,90%);
    background-color: rgba(82, 82, 82, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: -100px;
    border-radius: 5px;
}

.quote,
.m-txt {
    font-size: calc(1rem + 0.6vw);
    font-style: italic;
}

.author {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;
    text-align: start;
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.team-holder {
    border: 1px solid white;
    width: clamp(60%, calc(1000px + 15vw), 90%);
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.photo {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
.photo:nth-child(odd) {
    background-image: url('../img/test2.jpg');
}

@media screen and (max-width: 500px) {
    .overview-text{
        max-width: 100%;
    }
    .team-holder{
        max-width: 100%;
    }
}